.chatmore{
    width: 100%;
    padding-top: 2.15rem;
    .header{
        width: 100%;
        text-align: center;
        height: 2rem;
        line-height: 2rem;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        background-image:-webkit-gradient( linear, left top,right bottom, color-stop(0, #00a419),color-stop(0.15, #f44336), color-stop(0.29, #ff4300),color-stop(0.3, #AA00FF),color-stop(0.4, #8BC34A), color-stop(0.45, #607D8B),color-stop(0.6, #4096EE), color-stop(0.75, #D50000),color-stop(0.9, #4096EE), color-stop(1, #FF1A00));
        color:transparent;
        -webkit-background-clip:text;
    }
    .userList{
        margin-top: 1rem;
        box-sizing: border-box;
        padding-bottom: 0.5rem;
        border-bottom: 1rem solid #eaeaea;
        ul{
            width: 100%;
            display: flex;
            li{
                width: 20%;
                text-align: center;
                overflow: hidden;
                word-wrap: break-word;
                text-overflow: ellipsis;
                margin: 0 5px;
                img{
                    width: 80%;
                }
                span{
                    width: 80%;
                    white-space: nowrap;
                    font-size: 12px;
                }
            }
        }
    }
}
