.login{
    width: 100%;
    height: 100%;
    background-color: #444;
    text-align: center;
    padding-top: 100px;
//  background-image: url(../../../static/logo.png);
//  background-repeat: no-repeat;
//  background-size: 100%;
//  background-position: center 80%;
    &>img{
        width: 80%;
    }
    form{
        margin-top: 20px;
        .token{
            width: 80%;
            height: 2rem;
            background-color: #999;
            border: 1px solid #999;
            border-radius: 3px;
        }
        .cmt{
            display: block;
            width: 40%;
            border-radius: 3px;
            height: 2rem;
            margin: 1.5rem auto 0;
            background-color: #80bd01;
            border: 1px solid #80bd01;
            -webkit-appearance:none;
            font-size: 1rem;
            color: #fff;
        }
//      padding-top: 100px;
//      z-index: 10000;
    }
}
